In [1]:
# Import necessary modules
import data_preprocessor as dp
import functionals as f
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 1. Load the dataset
messy_data = pd.read_csv('../Data/messy_data.csv')
clean_data = messy_data.copy()

# Dataset Exploration
clean_data.head()
clean_data.describe()
clean_data.info() # Shows missing entries are present in most columns

# Fill in target values where possible 
clean_data.loc[clean_data['a'] == "normal", 'target'] = 0
clean_data.loc[clean_data['a'] == "lv hypertrophy", 'target'] = 1
# Remove rows where the target value cannot be filled in
clean_data = clean_data.dropna(subset=['target'])

# Missing numerical data will be imputed - further investigation of missing categorical data
categorical_cols = clean_data.select_dtypes(exclude='number')
for x in categorical_cols:
    print(x)
    print(clean_data[x].isna().sum())

# Removal of features with too much missing data 
clean_data = clean_data.drop(['d'], axis = 1)

# Generate quantile reports for all numerical data 
numerical_cols = clean_data.select_dtypes(include='number')
numerical_cols_2 = numerical_cols.drop(['target'], axis=1)
cols = [*numerical_cols_2]
summary_stats = []
for column in cols:
    summary_stats_before = print(clean_data[column].describe())

# 2. Preprocess the data
clean_data = dp.impute_missing_values(clean_data, strategy='mean')
clean_data = dp.remove_duplicates(clean_data)
clean_data = dp.normalize_data(clean_data)
clean_data = dp.remove_redundant_features(clean_data)

# Review changes to the dataset
clean_data.info
clean_data.describe
clean_data.shape
# Generate quantile reports again
numerical_cols = clean_data.select_dtypes(include='number')
numerical_cols_2 = numerical_cols.drop(['target'], axis=1)
cols = [*numerical_cols_2]
summary_stats = []
for column in cols:
    summary_stats_after = print(clean_data[column].describe())


# 3. Save the cleaned dataset
clean_data.to_csv('../Data/clean_data.csv', index=False)



# 4. Train and evaluate the model
f.simple_model(clean_data, print_report=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  920 non-null    float64
 1   a       1193 non-null   object
 2   b       1196 non-null   float64
 3   c       1196 non-null   int64
 4   d       561 non-null    object
 5   e       1196 non-null   object
 6   f       1196 non-null   float64
 7   g       1196 non-null   object
 8   h       1158 non-null   float64
 9   i       1087 non-null   object
 10  j       591 non-null    float64
 11  k       1196 non-null   float64
 12  l       1196 non-null   float64
 13  m       778 non-null    object
 14  n       1012 non-null   float64
 15  o       1008 non-null   float64
 16  p       1122 non-null   float64
 17  q       1009 non-null   float64
 18  r       1196 non-null   float64
 19  s       1196 non-null   object
 20  t       1110 non-null   float64
 21  u       1079 non-null   float64
 22  v       1116 non-null   float64
 23  w       1079 non-null   float64
 24  x       397 non-null    float64
 25  y       1196 non-null   float64
 26  z       598 non-null    float64
 27  {       1122 non-null   object
dtypes: float64(19), int64(1), object(8)
memory usage: 261.8+ KB
a
2
d
591
e
0
g
0
i
105
m
386
s
0
{
63
count    1139.000000
mean        0.001349
std         0.977585
min        -3.308750
25%        -0.686976
50%         0.004241
75%         0.712426
max         2.982511
Name: b, dtype: float64
count    1139.000000
mean       53.271291
std         9.506319
min        28.000000
25%        47.000000
50%        54.000000
75%        60.000000
max        77.000000
Name: c, dtype: float64
count    1139.000000
mean       -0.000488
std         1.009635
min        -2.820047
25%        -0.633057
50%        -0.051560
75%         0.691117
max         3.323155
Name: f, dtype: float64
count    1103.000000
mean      202.213962
std       109.289943
min         0.000000
25%       178.000000
50%       225.000000
75%       270.000000
max       603.000000
Name: h, dtype: float64
count    560.000000
mean      -0.597303
std        1.051954
min       -5.954661
25%       -1.114117
50%       -0.324970
75%        0.133227
max        1.369476
Name: j, dtype: float64
count    1139.000000
mean        0.024466
std         2.508306
min       -24.268796
25%        -0.707436
50%        -0.003113
75%         0.692639
max        27.315031
Name: k, dtype: float64
count    1139.000000
mean       -0.016163
std         0.958529
min        -2.802329
25%        -0.634681
50%         0.000798
75%         0.640372
max         3.328148
Name: l, dtype: float64
count    969.000000
mean       4.908052
std        0.200372
min        4.094345
25%        4.787492
50%        4.941642
75%        5.062595
max        5.273000
Name: n, dtype: float64
count    967.000000
mean     138.111686
std       26.181955
min       60.000000
25%      120.000000
50%      140.000000
75%      158.000000
max      202.000000
Name: o, dtype: float64
count    1076.000000
mean      138.010689
std        25.915559
min        60.522848
25%       120.397486
50%       139.844677
75%       157.607181
max       200.680509
Name: p, dtype: float64
count    968.000000
mean     137.540896
std       25.891663
min       60.035804
25%      119.506105
50%      139.780441
75%      157.458254
max      202.572685
Name: q, dtype: float64
count    1139.000000
mean       53.256727
std         9.573224
min        27.548190
25%        46.610595
50%        53.908655
75%        60.208841
max        77.484697
Name: r, dtype: float64
count    1067.000000
mean        0.869822
std         1.074062
min        -2.600000
25%         0.000000
50%         0.500000
75%         1.500000
max         6.200000
Name: t, dtype: float64
count    1029.000000
mean       53.202001
std         9.596583
min        28.743286
25%        46.371299
50%        54.017801
75%        60.142327
max        78.520864
Name: u, dtype: float64
count    1071.000000
mean      132.045752
std        18.828661
min         0.000000
25%       120.000000
50%       130.000000
75%       140.000000
max       200.000000
Name: v, dtype: float64
count    1029.000000
mean        0.030191
std         0.998324
min        -3.087673
25%        -0.606293
50%         0.019580
75%         0.723476
max         3.933288
Name: w, dtype: float64
count    395.000000
mean       0.670886
std        0.925136
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        3.000000
Name: x, dtype: float64
count    1139.000000
mean       53.273333
std         9.539199
min        26.549257
25%        46.761772
50%        54.234722
75%        59.770174
max        79.712348
Name: y, dtype: float64
count    571.000000
mean      -0.767866
std        1.260445
min       -7.293222
25%       -1.318809
50%       -0.446864
75%        0.090921
max        1.202416
Name: z, dtype: float64
['b', 'c', 'f', 'h', 'j', 'k', 'l', 'n', 'o', 'p', 'q', 'r', 't', 'u', 'v', 'w', 'x', 'y', 'z']
count    920.000000
mean       0.529281
std        0.155201
min        0.000000
25%        0.421881
50%        0.528935
75%        0.640519
max        1.000000
Name: b, dtype: float64
count    920.000000
mean       0.520630
std        0.192341
min        0.000000
25%        0.387755
50%        0.530612
75%        0.653061
max        1.000000
Name: c, dtype: float64
count    920.000000
mean       0.455318
std        0.164380
min        0.000000
25%        0.353618
50%        0.449743
75%        0.564757
max        1.000000
Name: f, dtype: float64
count    920.000000
mean       0.330399
std        0.180695
min        0.000000
25%        0.294776
50%        0.366501
75%        0.442786
max        1.000000
Name: h, dtype: float64
count    920.000000
mean       0.730858
std        0.097647
min        0.000000
25%        0.731466
50%        0.731466
75%        0.753595
max        1.000000
Name: j, dtype: float64
count    920.000000
mean       0.471152
std        0.049435
min        0.000000
25%        0.456729
50%        0.470585
75%        0.483841
max        1.000000
Name: k, dtype: float64
count    920.000000
mean       0.455778
std        0.158593
min        0.000000
25%        0.353222
50%        0.457668
75%        0.568300
max        1.000000
Name: l, dtype: float64
count    920.000000
mean       0.686835
std        0.157900
min        0.000000
25%        0.600361
50%        0.690370
75%        0.799732
max        1.000000
Name: n, dtype: float64
count    920.000000
mean       0.395248
std        0.119747
min        0.000000
25%        0.295455
50%        0.386364
75%        0.465909
max        1.000000
Name: t, dtype: float64
count    920.000000
mean       0.660634
std        0.092220
min        0.000000
25%        0.600000
50%        0.650000
75%        0.700000
max        1.000000
Name: v, dtype: float64
count    920.000000
mean       0.441665
std        0.134026
min        0.000000
25%        0.364288
50%        0.444079
75%        0.520592
max        1.000000
Name: w, dtype: float64
count    920.000000
mean       0.224243
std        0.180558
min        0.000000
25%        0.223629
50%        0.223629
75%        0.223629
max        1.000000
Name: x, dtype: float64
count    920.000000
mean       0.768666
std        0.106313
min        0.000000
25%        0.768083
50%        0.768083
75%        0.813352
max        1.000000
Name: z, dtype: float64
Accuracy: 0.977859778597786
Classification Report:
              precision    recall  f1-score   support

         0.0       1.00      0.96      0.98       159
         1.0       0.95      1.00      0.97       112

    accuracy                           0.98       271
   macro avg       0.97      0.98      0.98       271
weighted avg       0.98      0.98      0.98       271

Read more about the classification report: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html and https://www.nb-data.com/p/breaking-down-the-classification

/Users/rachel/Desktop/binf5507/Assignment1/Scripts/data_preprocessor.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[x].fillna(data[x].mean(), inplace=True)